<h1>Clacks Popolo</h1>
<h2>Browse organizations</h2>
<% for org in @organizations %>
  <%= link_to org.name, popolo.organization_path(org) %>
<% end %>
<h2>Posts</h2>
<% for post in @posts %>
  <%= link_to post.label, popolo.post_path(post) %>
<% end %>
